#inputName::placeholder {
    color: #779aba;
    opacity: 1;
}
#inputEmail4::placeholder {
    color: #779aba;
    opacity: 1;
}
#inputAddress::placeholder {
    color: #779aba;
    opacity: 1;
}
#inputMessage::placeholder {
    color: #779aba;
    opacity: 1;
}
